---
import BaseLayout from '../BaseLayout.astro';
import './postLayout.css';
import { selectPostDate } from './postLayout';
const { frontmatter, slug } = Astro.props;
---

<BaseLayout>
  <section class="meta__timestamp" transition:name={'publishedAt_' + slug}>
    {selectPostDate(frontmatter)}
  </section>

  <h1 class="meta__title" transition:name={'title_' + slug}>{frontmatter.title}</h1>

  <div>
    <img width="100%" src={frontmatter?.image?.url} alt={frontmatter?.image?.alt} transition:name={'img_' + slug} />
  </div>

  <article class="post">
    <slot />
  </article>
</BaseLayout>
