@font-face {
  font-family: 'sansy';
  src: url('/fonts/Oxygen-Bold.ttf');
}

@font-face {
  font-family: 'standard';
  font-weight: normal;
  src: url('/fonts/Lovato\ Regular.otf');
}

@font-face {
  font-family: 'standard';
  font-weight: bolder;
  src: url('/fonts/Lovato\ Regular.otf');
}

@font-face {
  font-family: 'standard';
  font-weight: bold;
  src: url('/fonts/Lovato\ Bold.otf');
}

:root {
  --main-color: rgb(23, 23, 32);
  --main-bg-color: rgb(232, 232, 203);
  --dimmed-color: gray;
  --accent: #0b7215;
  --link-color: #df6363;
}

#moon {
  display: none;
}
#sun {
  display: none;
}

@media (prefers-color-scheme: light) {
  #color-mode-switch:not(:checked) ~ #moon {
    display: block;
  }
  #color-mode-switch:checked ~ #sun {
    display: block;
  }
  #color-mode-switch:checked ~ #background {
    --main-bg-color: rgb(23, 23, 32);
  }
  #color-mode-switch:checked ~ .wrapper {
    --main-color: rgb(232, 232, 203);
    --main-bg-color: rgb(23, 23, 32);
    --dimmed-color: rgb(178, 178, 149);
    --accent: #a1df63;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: rgb(232, 232, 203);
    --main-bg-color: rgb(23, 23, 32);
    --dimmed-color: rgb(178, 178, 149);
    --accent: #a1df63;
  }

  #color-mode-switch:not(:checked) ~ #sun {
    display: block;
  }
  #color-mode-switch:checked ~ #moon {
    display: block;
  }

  #color-mode-switch:checked ~ #background {
    --main-bg-color: rgb(232, 232, 203);
  }
  #color-mode-switch:checked ~ .wrapper {
    --main-color: rgb(23, 23, 32);
    --main-bg-color: rgb(232, 232, 203);
    --dimmed-color: gray;
    --accent: #0b7215;
  }
}

#color-mode-switch {
  display: none;
}

.color-mode {
  position: fixed;
  bottom: 1vh;
  right: 2vh;
}

path {
  fill: var(--main-color);
}
a path {
  fill: var(--link-color);
}

.larger {
  font-size: 1.2em;
}
a:hover {
  /* anchors with svg need that */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-family: standard, sans-serif, Tahoma, Verdana;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the body takes up at least the full viewport height */
  margin: 0 auto;
  max-width: 120ch;
}

.wrapper {
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: sansy, Verdana, sans-serif;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}

code {
  font-size: 80%;
}

pre {
  padding: 0.25em 0.5em;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--accent);
}

header {
  border-bottom: solid;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--main-bg-color);
}

/* @media (prefers-color-scheme: light) {
  pre {
    filter: invert(100%);
  }
} */

.dimmed {
  color: var(--dimmed-color);
}

.border__dimmed {
  border-color: var(--dimmed-color);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  z-index: -1;
}

.content {
  flex: 1;
}
