@font-face {
  font-family: 'sansy';
  src: url('/fonts/Oxygen-Bold.ttf');
}

@font-face {
  font-family: 'standard';
  font-weight: normal;
  src: url('/fonts/Lovato\ Regular.otf');
}

@font-face {
  font-family: 'standard';
  font-weight: bolder;
  src: url('/fonts/Lovato\ Regular.otf');
}

@font-face {
  font-family: 'standard';
  font-weight: bold;
  src: url('/fonts/Lovato\ Bold.otf');
}

:root {
  --main-color: rgb(23, 23, 32);
  --main-bg-color: rgb(232, 232, 203);
  --dimmed-color: gray;
  --accent: #0b7215;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: rgb(232, 232, 203);
    --main-bg-color: rgb(23, 23, 32);
    --dimmed-color: rgb(178, 178, 149);
    --accent: #a1df63;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: standard, sans-serif, Tahoma, Verdana;
  font-size: 20px;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  margin: 0 auto;
  max-width: 120ch;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: sansy, Verdana, sans-serif;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}

code {
  font-size: 80%;
}

pre {
  padding: 0.25em 0.5em;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: #df6363;
}

a:hover,
a:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--accent);
}

header {
  border-bottom: solid;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  pre {
    filter: invert(100%);
  }
}

.dimmed {
  color: var(--dimmed-color);
}

.border__dimmed {
  border-color: var(--dimmed-color);
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.content {
  flex: 1;
}