:root {
  --dark-main-color: honeydew;
  --dark-main-bg-color: rgb(23, 23, 32);
  --dark-dimmed-color: rgb(178, 178, 149);
  --dark-shadow-color: black;
  --dark-accent: limegreen;
  --dark-link-color: indianred;
  --dark-hovered-link-color: lightcoral;
  --dark-semi-transparent-5: rgba(255, 255, 255, 0.05);
  --dark-semi-transparent-10: rgba(255, 255, 255, 0.1);
  --dark-semi-transparent-20: rgba(255, 255, 255, 0.2);

  --light-main-color: black;
  --light-main-bg-color: snow;
  --light-dimmed-color: gray;
  --light-shadow-color: silver;
  --light-accent: green;
  --light-link-color: rebeccapurple;
  --light-hovered-link-color: indigo;
  --light-semi-transparent-5: rgba(0, 0, 0, 0.05);
  --light-semi-transparent-10: rgba(0, 0, 0, 0.1);
  --light-semi-transparent-20: rgba(0, 0, 0, 0.2);
}

#color-mode-switch,
#moon,
#sun {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: var(--light-main-color);
    --main-bg-color: var(--light-main-bg-color);
    --dimmed-color: var(--light-dimmed-color);
    --shadow-color: var(--light-shadow-color);
    --accent: var(--light-accent);
    --link-color: var(--light-link-color);
    --hovered-link-color: var(--light-hovered-link-color);
    --semi-transparent-5: var(--light-semi-transparent-5);
    --semi-transparent-10: var(--light-semi-transparent-10);
    --semi-transparent-20: var(--light-semi-transparent-20);
  }

  #color-mode-switch:not(:checked) ~ #moon,
  #color-mode-switch:checked ~ #sun {
    display: block;
  }
  #color-mode-switch:checked ~ #sun,
  #color-mode-switch:checked ~ #background,
  #color-mode-switch:checked ~ .wrapper {
    --main-color: var(--dark-main-color);
    --main-bg-color: var(--dark-main-bg-color);
    --dimmed-color: var(--dark-dimmed-color);
    --shadow-color: var(--dark-shadow-color);
    --accent: var(--dark-accent);
    --link-color: var(--dark-link-color);
    --hovered-link-color: var(--dark-hovered-link-color);
    --semi-transparent-5: var(--dark-semi-transparent-5);
    --semi-transparent-10: var(--dark-semi-transparent-10);
    --semi-transparent-20: var(--dark-semi-transparent-20);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: var(--dark-main-color);
    --main-bg-color: var(--dark-main-bg-color);
    --dimmed-color: var(--dark-dimmed-color);
    --shadow-color: var(--dark-shadow-color);
    --accent: var(--dark-accent);
    --link-color: var(--dark-link-color);
    --hovered-link-color: var(--dark-hovered-link-color);
    --semi-transparent-5: var(--dark-semi-transparent-5);
    --semi-transparent-10: var(--dark-semi-transparent-10);
    --semi-transparent-20: var(--dark-semi-transparent-20);
  }

  #color-mode-switch:not(:checked) ~ #sun,
  #color-mode-switch:checked ~ #moon {
    display: block;
  }

  #color-mode-switch:checked ~ #moon,
  #color-mode-switch:checked ~ #background,
  #color-mode-switch:checked ~ .wrapper {
    --main-color: var(--light-main-color);
    --main-bg-color: var(--light-main-bg-color);
    --dimmed-color: var(--light-dimmed-color);
    --shadow-color: var(--light-shadow-color);
    --accent: var(--light-accent);
    --link-color: var(--light-link-color);
    --hovered-link-color: var(--light-hovered-link-color);
    --semi-transparent-5: var(--light-semi-transparent-5);
    --semi-transparent-10: var(--light-semi-transparent-10);
    --semi-transparent-20: var(--light-semi-transparent-20);
  }
}

.color-mode {
  position: fixed;
  bottom: 1vh;
  right: 2vh;
}

svg {
  fill: currentColor;
}

.larger {
  font-size: 1.2em;
}
a:hover {
  /* anchors with svg need that */
  color: var(--hovered-link-color);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  font-family:
    Garamond,
    -apple-system-ui-serif,
    ui-serif,
    Palatino,
    Georgia,
    serif;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the body takes up at least the full viewport height */
  margin: 0 auto;
  max-width: 120ch;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
.sans {
  font-family:
    'Trebuchet MS',
    -apple-system,
    BlinkMacSystemFont,
    'Open Sans',
    'Segoe UI',
    'Verdana',
    sans-serif;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}

code {
  font-size: 80%;
}

pre {
  padding: 0.25em 0.5em;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.15em;
}

header {
  border-bottom: solid;
  padding-bottom: 0.3em;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--main-bg-color);
}

.dimmed {
  color: var(--dimmed-color);
}

.border__dimmed {
  border-color: var(--dimmed-color);
}

.wrapper {
  color: var(--main-color);
  background-color: var(--main-bg-color);

  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  z-index: -1;
}

.content {
  flex: 1;
}
