---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Hello, stranger 👋</h2>
  <div>
    My name is Kamil, I am a full-stack programmer. My background is primarily in Java and JavaScript, but I don't adhere blindly to any 
    single language or framework. Instead, I prefer a holistic approach, selecting and adapting the right tools for each job rather than
    sticking to what I know or like. I believe that any project, or even task, can be optimized according 
    to its given requirements. For me, the most exciting ones are those focused on long-term maintainability and performance.
    However, I'm also trying to do my best in situations where other factors take precedence, such as time constraints or the need for 
    simplicity of the solution. And since life is rarely black or white; most of the time, it's about
    finding the best possible trade-offs given the circumstances.

    <br />
    Based on my experience, I believe that seniority and excellence are more about higher-level skills like designing robust architectures, 
    rather than proficiency in a specific language, library, or toolset.

    <h3>Hobbies</h3>
  After hours, I'm kind of a Jack of all trades as well, so I enjoy exploring things like history, geography, and linguistics
  together. Recently, the latter is my favorite - I relish finding patterns, similarities, and learning about languages'
  origins. It's at an amateur level and I don't have any specific goals here like some academic knowledge or becoming proficient
  in any language. It's for my pleasure only.

    <h3>Contact</h3>
    <a href="mailto:frankiewiczkamil@gmail.com">e-mail</a>
    <br />
    <a href="https://github.com/frankiewiczkamil">github</a>
    <br />
    <a href="https://www.linkedin.com/in/kfrankiewicz">linkedin</a>
  </div>
</BaseLayout>
