---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Hello, stranger 👋</h2>
  <div>
    My name is Kamil, I am a fullstack programmer. My background is mainly Java and JS, but I'm not a fanboy of any
    language or framework. I rather prefer a holistic approach, picking and adjusting the right tool for the job instead
    of sticking to the one I already know or like. I believe, that any project (or even task) can be optimized according
    to given requirements. For me, the most exciting are those long-lasting, focused on high maintainability and/or
    performance, though I try to adapt to situations, where the main factor is different, like time budget , or
    simplicity of the solution. And since life usually is not black or white, most of the time it's about balancing and
    seeking the best possible tradeoffs in given circumstances.
    <br />
    From my experience seniority and excellence is more about the higher level skills like designing a good architecture
    rather than proficiency in some language, library, or any toolset.

    <h3>Hobbies</h3>
    I'm kind of a Jack of all trades after hours as well, so I like exploring things like history, geography, and linguistics
    together. Recently the latter is my favorite - I enjoy finding patterns, similarities, and learning about languages'
    origins. It's at an amateur level and I don't have any specific goals here like some academic knowledge or becoming proficient
    in any language. It's for my pleasure only.

    <h3>Contact</h3>
    <a href="mailto:frankiewiczkamil@gmail.com">e-mail</a>
    <br />
    <a href="https://github.com/frankiewiczkamil">github</a>
    <br />
    <a href="https://www.linkedin.com/in/kfrankiewicz">linkedin</a>
  </div>
</BaseLayout>
