---
import BaseLayout from '../layouts/BaseLayout.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout>
  <h2>Hello, stranger 👋</h2>
  <div>
    My name is Kamil, I'm a full-stack programmer based in Poland. My background is primarily in Java and JavaScript, but I don't adhere blindly to any single
    language or framework. Instead, I prefer a holistic approach, selecting a right tool for the job rather than sticking to what I know or like. I believe that
    any project, or even a task, can be optimized according to given requirements. For me, the most exciting ones are those focused on long-term maintainability
    and performance. However, I also try to do my best in situations where other factors take precedence, such as time constraints or the need for simplicity of
    the solution. And since life is rarely black or white; most of the time, it's some sort of a tradeoff: finding the best possible solution in given
    circumstances.

    <br />
    Based on my experience, I believe that seniority and excellence are more about higher-level skills like designing robust architectures, rather than proficiency
    in a specific language, library, or toolset.

    <h3>Hobbies</h3>
    After hours, I'm kind of a <i>Jack of all trades</i> as well, as I enjoy exploring things like history, geography, and linguistics together. Recently, the latter
    is my favorite - I relish finding patterns, similarities, and learning about languages' origins. It's at an amateur level and I don't have any specific goal
    here like some academic knowledge or becoming proficient in any language. It's for my pleasure only.

    <h3>Contact</h3>
    <Contact />
  </div>
</BaseLayout>
