---
import { isNotDraft, selectPublishedAtTimestamp } from '../layouts/post/postLayout';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection('blog')
  .then(posts => posts.filter(isNotDraft))
  .then(posts => posts.sort((p1, p2) => selectPublishedAtTimestamp(p2) - selectPublishedAtTimestamp(p1)));
---

<BaseLayout>
  <ul>
    {
      allPosts.map(post => (
        <li>
          <a href={'/blog/' + post.slug}>{`${post.data.publishedAt.toLocaleDateString()} ${post.data.title}`}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
