---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <ul>
        <li><a href="/posts/post-1">Hello, world</a></li>
        <li>
            <a href="/posts/post-2"
                >State modification in function components without sacrificing
                the performance</a>
        </li>
    </ul>
</BaseLayout>
