---
import './navigation.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
const { title } = Astro.props;
---

<div class="nav-links">
  <a href={getRelativeLocaleUrl(Astro.currentLocale, '')}>Home</a>·
  <a href={getRelativeLocaleUrl(Astro.currentLocale, 'blog')}>Blog</a>·
  <a href={getRelativeLocaleUrl(Astro.currentLocale, 'about')}>About</a>
</div>
