---
import { Icon } from 'astro-icon/components';
import './navigation.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from '../../i18n/lang-utils';
import { languages } from '../../i18n/ui';
const lang = Astro.currentLocale as keyof typeof languages;
const t = useTranslations(lang);
const currentPath = Astro.url.pathname;
const currentLocale = Astro.currentLocale!;
---

<div class="nav-links">
  <a href={getRelativeLocaleUrl(currentLocale, '')}>{t('nav.blog')}</a>·
  <a href={getRelativeLocaleUrl(currentLocale, 'about')}>{t('nav.about')}</a>

  <div class="lang-switch">
    <div class="icon-container">
      <Icon name="material-symbols:language" />
    </div>
    <div class="lang-content">
      {
        lang === 'en' ? (
          <>
            <span>{languages.en}</span>
            <a href={'/pl' + currentPath}>{languages.pl}</a>
          </>
        ) : (
          <>
            <span>{languages.pl}</span>
            <a href={currentPath.replace('/pl', '') || '/'}>{languages.en}</a>
          </>
        )
      }
    </div>
  </div>
</div>
