---
import './navigation.css';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from "../../i18n/lang-utils";
import { languages } from "../../i18n/ui";
const lang = Astro.currentLocale as keyof typeof languages
const t = useTranslations(lang);
---

<div class="nav-links">
  <a href={getRelativeLocaleUrl(Astro.currentLocale, '')}>{t('nav.home')}</a>·
  <a href={getRelativeLocaleUrl(Astro.currentLocale, 'blog')}>{t('nav.blog')}</a>·
  <a href={getRelativeLocaleUrl(Astro.currentLocale, 'about')}>{t('nav.about')}</a>
</div>
