.nav-links a {
  font-weight: bold;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.nav-links {
  font-size: 1.5rem;
}

.lang-switch {
  position: absolute;
  bottom: 0.1em;
  right: 0;
  height: 1em;
}

.lang-content {
  display: none;
  font-size: 1rem;
  position: absolute;
  right: 0;
  background-color: var(--main-bg-color);
  padding: 0.5em;
  z-index: 1;
  border: solid;
}

.lang-content a,
.lang-content span {
  float: right;
}
.lang-content a {
  padding: 0;
}

.lang-switch:hover .lang-content {
  display: block;
}

.icon-container {
  color: var(--link-color);
}
