---
import { Icon } from 'astro-icon/components';
import './latest/PostTiles.css';
import type { Post } from '../layouts/post/postLayout';

import { getRelativeLocaleUrl } from 'astro:i18n';
import { languages } from '../i18n/ui';
import { useTranslations } from '../i18n/lang-utils';

const { posts } = Astro.props as { posts: Post[] };
const lang = Astro.currentLocale as keyof typeof languages;
const t = useTranslations(lang);
---

<section>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; ">
    <h2>{t('blog.all-posts')}</h2>
    <a href={getRelativeLocaleUrl(lang, '/')} title={t('blog.switch-to-grid')}>
      <Icon name="material-symbols:grid-view-outline" class="larger" />
    </a>
  </div>
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={getRelativeLocaleUrl(lang, `/blog/${post.slug}`)}>
            <span transition:name={'publishedAt_' + post.slug}> {post.data.publishedAt.toLocaleDateString()}</span>
            &nbsp;
            <span transition:name={'title_' + post.slug}> {post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>
