---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Contact from '../../components/Contact.astro';
---

<BaseLayout>
  <h2>Cze </h2>
  <div>
    Nazywam si Kamil i jestem programist full-stack z Polski. Moje dowiadczenie skupione jest g贸wnie wok贸 Javy i JavaScriptu, ale nie jestem fanem czy
    wyznawc jednego konkretnego jzyka albo frameworka. Zamiast tego preferuj podejcie holistyczne, wybieranie odpowiedniego narzdzia do konkretnego
    zadania, zamiast trzyma si tego, co ju偶 znam lub lubi. Wierz, 偶e ka偶dy projekt, a nawet zadanie, mog by zoptymalizowane pod zastane wymagania. Dla
    mnie najbardziej ekscytujce s te skoncentrowane na dugotrwaaym utrzymaniu i na wydajnoci. Jednak偶e, staram si dawa rad r贸wnie偶 w sytuacjach, gdzie
    inne czynniki graj pierwsze skrzypce, takie jak ograniczenia czasowe czy prostota rozwizania. A poniewa偶 偶ycie rzadko jest czarno-biae, zwykle to pewnego
    rodzaju kompromis: znalezienie najlepszego mo偶liwego rozwizania w danych okolicznociach.

    <br />
    Moja dotychczasowa cie偶ka nauczya mnie, 偶e dowiadczenie (seniority) dotyczy bardziej umiejtnoci wysokopoziomowych, takich jak projektowanie porzdnej architektury,
    nie za biegoci w konkretnym jzyku, bibliotece czy narzdziu.

    <h3>Zainteresowania</h3>
    Poza prac moje zainteresowania r贸wnie偶 nie s skoncentrowane na jednej dziedzinie. Mo偶na powiedzie, 偶e jest to mozaika historii, geografii i lingwistyki, czyli
    obszar贸w kt贸re na siebie wpywaj bd藕 nawet si przenikaj. Dlatego te偶 najlepiej nie stawiam ostrych granic, ale raczej zgbiam je jednoczenie. W ostatnim
    czasie dominuje jednak jzykoznastwo - znajdowanie podobiestw i wzorc贸w, analizowanie pochodzenia jzyk贸w itp. Jakkolwiek wszystko to jest wycznie na poziomie
    amatorskim i nie mam 偶adnego konkretnego celu, takiego jak z jednej strony zdobycie tytuu naukowego czy, z drugiej strony, opanowanie jakiego jzyka w celach
    prakatycznych. Chodzi tu raczej o przyjemno pync z poznawiania i zrozumienia proces贸w jakim podlegaj jzyki.

    <h3>Kontakt</h3>
    <Contact />
  </div>
</BaseLayout>
