---
import BaseLayout from '../../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';
import PostTiles from '../../components/latest/PostTiles.astro';
import { toComponentFormat } from '../../posts';

const latestPosts = await getCollection('blog_pl').then(toComponentFormat);
---

<BaseLayout>
  <section>
    <h2>Ostatnie posty</h2>
    <PostTiles posts={latestPosts} />
  </section>
</BaseLayout>
