---
import { Icon } from 'astro-icon/components';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/Lovato\ Regular.otf" as="font" type="font/otf" crossorigin />
    <link rel="preload" href="/fonts/Lovato\ Bold.otf" as="font" type="font/otf" crossorigin />
    <link rel="preload" href="/fonts/Oxygen-Bold.ttf" as="font" type="font/ttf" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark light" />
    <meta name="description" content="Kamil's blog/website. Mainly programming stuff." />
    <meta name="keywords" content="programming javascript typescript java react redux" />
    <meta name="author" content="Kamil Frankiewicz (aka kpf)" />
    <meta name="robots" content="index, follow" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <title>bytd blog</title>
    <ViewTransitions />
  </head>
  <body>
    <input class="color-mode" id="color-mode-switch" type="checkbox" name="color-mode-switch" />
    <label id="moon" class="color-mode" for="color-mode-switch">
      <a role="button" title="Switch to light mode">
        <Icon name="material-symbols:dark-mode-outline" />
      </a>
    </label>

    <label id="sun" class="color-mode" for="color-mode-switch">
      <a role="button" title="Switch to light mode">
        <Icon name="material-symbols:light-mode-outline" />
      </a>
    </label>
    <div class="wrapper">
      <Header />
      <section class="content">
        <slot />
      </section>
      <Footer />
    </div>
    <div id="background"></div>
  </body>
</html>
